<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/shutter.css">

</head>
<body>

<div class="shutter">
<div class="shutter-img">
  <a href="#" data-shutter-title="20190124在保利国际中心自拍"><img src="https://ws3.sinaimg.cn/large/006tNc79gy1fzoq8n3conj30k00ex7r8.jpg" alt="#"></a>
    <a href="#" data-shutter-title="20170716武汉东湖绿道日出"><img src="https://ws4.sinaimg.cn/large/006tNc79gy1fzoq8rgz6oj30k00f0doy.jpg" alt="#"></a>
    <a href="#" data-shutter-title="20140326在武汉大学自拍"><img src="https://ws2.sinaimg.cn/large/006tNc79gy1fzoq8yjbi4j30k00f00u5.jpg" alt="#"></a>

</div>
<ul class="shutter-btn">
  <li class="prev"></li>
  <li class="next"></li>
</ul>
<div class="shutter-desc">
  <p>Iron Man</p>
</div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/velocity.js"></script>
<script src="../js/shutter.js"></script>
<script>
$(function () {
  $('.shutter').shutter({
  shutterW: 360, // 容器宽度
  shutterH: 270, // 容器高度
  isAutoPlay: true, // 是否自动播放
  playInterval: 5000, // 自动播放时间
  curDisplay: 3, // 当前显示页
  fullPage: false // 是否全屏展示
  });
});
</script>

<div style="text-align:center;clear:both">

</div>
</body>
</html>