<!-- cloud music -->
<!-- auto=1 可以控制自动播放与否，当值为 1 即打开网页就自动播放，值为 0 时需要访客手动点击播放 -->
<!-- 
<iframe frameborder="yes" border="0" marginwidth="0" marginheight="0" width=100% height=100 
        src="//music.163.com/outchain/player?type=2&id={{ page.music-id }}&auto=0&height=66">
</iframe -->

<div id="side-music-box">
    <div>
        <i class="fa fa-music"></i>
        Music
    </div>
    <p style="height:auto; min-height: 110px;" id="cloud-music-wrapper">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="100%" height="110" data-src="//music.163.com/outchain/player?type=0&id=8541688370&auto=0&height=90" src="about:blank"></iframe>
    </p>
</div>
<script type="text/javascript">
(function() {
    var loaded = false;
    function loadMusic() {
        if (loaded) return;
        loaded = true;
        var wrapper = document.getElementById('cloud-music-wrapper');
        if (!wrapper) return;
        var iframe = wrapper.querySelector('iframe');
        if (iframe && iframe.getAttribute('data-src')) {
            iframe.src = iframe.getAttribute('data-src');
            iframe.removeAttribute('data-src');
        }
    }
    // 延迟到页面核心内容完全渲染后（首屏完成后 1.2 秒）或鼠标靠近音乐区域时加载
    if (document.readyState === 'complete') {
        setTimeout(loadMusic, 1200);
    } else {
        window.addEventListener('load', function() {
            setTimeout(loadMusic, 1200);
        });
    }
    var box = document.getElementById('side-music-box');
    if (box) {
        box.addEventListener('mouseenter', loadMusic, { once: true });
    }
})();
</script>
