
<footer class="site-footer">

    <p></p>

    <p id="htmer_time" style="color: white;"></p> <!-- 使用 -->

    <p>
        <!-- 本站总访问量<span id="busuanzi_value_site_pv"></span>次，本站访客数<span id="busuanzi_value_site_uv"></span>人次，本文总阅读量<span id="busuanzi_value_page_pv"></span>次 -->
        本站总访问量<span id="busuanzi_value_site_pv">--</span>次，本文总阅读量<span id="busuanzi_value_page_pv">--</span>次
    </p>
    <script type="text/javascript">
    (function() {
        function loadBusuanzi() {
            var script = document.createElement('script');
            script.async = true;
            script.src = '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js';
            document.body.appendChild(script);
        }
        if (document.readyState === 'complete') {
            setTimeout(loadBusuanzi, 1000);
        } else {
            window.addEventListener('load', function() {
                setTimeout(loadBusuanzi, 1000);
            });
        }
    })();
    </script>

    <p class="description">
        {% if site.description_footer %} {{site.description_footer}} {% endif %}
    </p>

    <span>
        {% if site.url %}
            <a target="_blank" rel="noopener noreferrer" href={{site.url}}>
                <span style="color:#003399;" class="fa-stack fa-lg" >
                    <i class="fa fa-circle fa-stack-2x" > </i>
                    <i class="fa fa-mortar-board fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        {% endif %}
        {% if site.github_username %}
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.github_username }}">
                <span style="color:#003399;" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        {% endif %}

        {% if site.zhihu_username %}
            <a target="_blank" rel="noopener noreferrer" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                <span style="color:#003399;" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa  fa-stack-1x fa-inverse">知</i>
                </span>
            </a>
        {% endif %}
        {% if site.weibo_username %}
            <a target="_blank" rel="noopener noreferrer" href="http://weibo.com/{{ site.weibo_username }}">
                <span style="color:#003399;" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        {% endif %}

        {% if site.wangyiyun_username %}
            <a target="_blank" rel="noopener noreferrer" href="http://music.163.com/#/user/home?id={{  site.wangyiyun_username }}">
                <span style="color:#003399;" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        {% endif %}
    </span>
    <br>
    <span class="text" style=" text-align:center;">
        Copyright &copy; 袁凤鸣 2015-{{ site.time | date: '%Y' }} <a rel="license noopener noreferrer" target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/"><font color="#f4cccc">非商业性使用-国际许可协议4.0</font></a> 许可
    </span>
    <p class="copyright text-muted">
        Powered by <a target="_blank" rel="noopener noreferrer" href="https://jekyllrb.com/" style="font-weight: bold"> <font color="#f4cccc">Jekyll</font> </a> |
        Theme based <a target="_blank" rel="noopener noreferrer" href="https://github.com/Gaohaoyang/gaohaoyang.github.io" style="font-weight: bold"> <font color="#f4cccc"> HyG </font> </a> |
        Write by <a target="_blank" rel="noopener noreferrer" href="https://www.zybuluo.com/mdeditor#618767" style="font-weight: bold"> <font color="#f4cccc">Markdown</font></a>
    </p>
</footer>

<!-- 动态显示网站运行时间 -->
<script type="text/javascript">
    (function() {
        var createTime = Math.round(new Date(Date.UTC(2015, 2, 10, 0, 0, 0)).getTime() / 1000);
        var timeEl = document.getElementById("htmer_time");
        function updateTime() {
            if (!timeEl) return;
            var now = Math.round(new Date().getTime() / 1000);
            var sec = Math.max(0, now - createTime);
            var days = Math.floor(sec / 86400);
            sec %= 86400;
            var hours = Math.floor(sec / 3600);
            sec %= 3600;
            var mins = Math.floor(sec / 60);
            var secs = sec % 60;
            var years = Math.floor(days / 365);
            var remDays = days % 365;
            timeEl.innerText = '本站已平稳运行 ' + years + '年 ' + remDays + '天 ' + hours + '时 ' + mins + '分 ' + secs + '秒';
        }
        updateTime();
        setInterval(updateTime, 1000);
    })();
</script>

<!-- 动态交互星空流光背景 -->
<script type="text/javascript" src="{{ "/js/interactive-bg.js" | prepend: site.baseurl }}"></script>
