<footer class="site-footer">


    <div class="wrapper">

        <p class="description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>


<!-- 计算网站运行时间 1-->
<span style="font-size:12px;"><script language=JavaScript> 
 function secondToDate(second) {
     if (!second) {
        return 0;
     }

 var time = new Array(0, 0, 0, 0, 0);

 if (second >= 365 * 24 * 3600) {
     time[0] = parseInt(second / (365 * 24 * 3600));
     second %= 365 * 24 * 3600;
 }  

 if (second >= 24 * 3600) {
     time[1] = parseInt(second / (24 * 3600));
     second %= 24 * 3600;
 }

 if (second >= 3600) {
     time[2] = parseInt(second / 3600);
     second %= 3600;
 }

 if (second >= 60) {
     time[3] = parseInt(second / 60);
     second %= 60;
 }

 if (second > 0) {
     time[4] = second;
 }
    return time;
}
</script>

<!-- 动态显示网站运行时间 -->
<script type="text/javascript" language="javascript">
    function setTime() {
        var create_time = Math.round(new Date(Date.UTC(2015, 02, 10, 0, 0, 0)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time)); 
        currentTimeHtml = '本站已运行 ' + currentTime[0] + ' 年 ' + currentTime[1] + ' 天 ' + currentTime[2] + ' 时 ' + currentTime[3] + ' 分 ' + currentTime[4] + ' 秒 ';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
</script>
</span>
<p>
<span id="htmer_time" style="color: white;"></span> <!-- 使用 -->
 <!-- 计算网站运行时间 0-->


        <p>
            <!-- 本站总访问量<span id="busuanzi_value_site_pv"></span>次，本站访客数<span id="busuanzi_value_site_uv"></span>人次，本文总阅读量<span id="busuanzi_value_page_pv"></span>次 -->
            <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            本站总访问量<span id="busuanzi_value_site_pv"></span>次，本文总阅读量<span id="busuanzi_value_page_pv"></span>次
           
           
        </p>
        
            <span>
      
                {% if site.url %}
                <!-- <li> -->
                    <a target="_blank" href={{site.url}}>


                        <span style="color:#003399;" class="fa-stack fa-lg" >

                            <i class="fa fa-circle fa-stack-2x" > </i>
                            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                        </span>

                        <!-- <span ><i class="fa fa-link"></i> 链接</span> -->
                    </a>
                <!-- </li> -->
                {% endif %}
    
                {% if site.twitter_username %}
                <!-- <li> -->
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}

                <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by Hux -->
                {% if site.zhihu_username %}
                <!-- <li> -->
                    <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa  fa-stack-1x fa-inverse">知</i>
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}
                {% if site.weibo_username %}
                <!-- <li> -->
                    <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}


                {% if site.facebook_username %}
                <!-- <li> -->
                    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}
                {% if site.github_username %}
                <!-- <li> -->
                    <a target="_blank" href="https://github.com/{{ site.github_username }}">
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}
                {% if site.linkedin_username %}
                <!-- <li> -->
                    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}
                {% if site.wangyiyun_username %}
                <!-- <li> -->
                    <a target="_blank" href="http://music.163.com/#/user/home?id={{  site.wangyiyun_username }}">
                       <!--  <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa  fa-stack-1x fa-inverse">网</i> marquee>网易云音乐</marquee>
                        </span> -->
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}
                {% if site.wangyiyun_username %}
                <!-- <li> -->
                    <a target="_blank" href="http://yfming93.coding.me/repos/">
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-heart fa-stack-1x fa-inverse"></i> <!-- marquee>网易云音乐</marquee> -->
                        </span>
                    </a>
                <!-- </li> -->
                {% endif %}
      <!--           {% if site.rss %}
=                    <a target="_blank" href="{{site.url}}/{{site.rss}}">    
                        <span style="color:#003399;" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa  fa-stack-1x fa-inverse">rss</i>
                        </span>
                    </a>
                {% endif %} -->


                <!-- Site powered by <a href="https://jekyllrb.com/">Jekyll</a> & <a href="https://pages.github.com/">Github Pages</a>. -->
            <!-- <p class="power"> -->
                <p class="copyright text-muted">
                    

                    <div class="text" style=" text-align:center;">
                        Copyright &copy; 袁凤鸣 {{ site.time | date: '%Y' }}  </a>  采用<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><font color="#f4cccc">知识共享署名-非商业性使用 4.0 国际许可协议</font></a>许可。
                    </div>

                    <br>
                    Powered by <a href="https://jekyllrb.com/" style="font-weight: bold"> <font color="#f4cccc">Jekyll</font> </a> | 
                   <!--  Hosted by <a href="https://pages.coding.me" style="font-weight: bold"> <font color="#f4cccc">Coding</font> </a>  | --> 
                    Photos in <a href="https://www.aliyun.com/product/oss" style="font-weight: bold"> <font color="#f4cccc">Aliyun</font> </a> | 
                    Theme based <a href="https://github.com/Gaohaoyang/gaohaoyang.github.io" style="font-weight: bold"> <font color="#f4cccc"> HyG </font> </a> |
                    Write by <a href="https://www.zybuluo.com/mdeditor#618767" style="font-weight: bold"> <font color="#f4cccc">Markdown</font></a>
                </p>
            </span>
  
        <!-- </p> -->
    </div>
</footer>
<!-- 添加背景雪花 -->
<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>

