.site-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
//     margin-top: 150px;
    background-color: #2b2b3c;
    box-shadow: 0 -3px 4px 1px rgba(0,0,0,0.5);
    color: #bbb;
    .wrapper {
        width: 1140px;
        margin: 0 30;
        padding: 5px 0;
        text-align: center;
        font-size: 14px;
        p {
            margin: 0;
            line-height: 1.6;
        }
        .contact {
            display: inline-block;
            a {
                color: #ff00ff;
                transition: 0.3s ease;
                &:hover {
                    color: #fff;
                }
                i {
                    margin: 0 5px;
                    font-size: 20px;
                }
            }
        }
        .description {
            display: inline-block;
        }
        .power {
            a {
                color: #8F90C5;
                transition: 0.3s ease;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .site-footer {
        .wrapper {
            width: 90%;
        }
    }
}
@media screen and (max-width: 770px) {
    .site-footer {
        .wrapper {
            width: 100%;
        }
    }
}
