header {
    background: #222;
    height: 52px;
    color: #9d9d9d;
    box-shadow: 0 7px 4px 1px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    a {
        color: #9d9d9d;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
        &:hover {
            color: #fff;
        }
    }
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        line-height: 52px;
        .brand {
            font-size: 18px;
        }
        small {
            margin-left: 26px;
            font-size: 14px;
        }
        .menu{
            display: none;
        }
        nav {
            float: right;
            ul {
                font-size: 0;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 14px;
                    display: inline-block;
                    -webkit-transition: 0.2s ease;
                    transition: 0.2s ease;
                    a {
                        display: inline-block;
                        padding: 0 10px;
                        height: 52px;
                        &:hover {
                            
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    >.active {
                        color: #fff;
                         
                        box-shadow: 0 25px 25px -15px rgba(255,255,255,0.93);
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    header {
        height: 50px;
        .wrapper {
            width: 90%;
            line-height: 50px;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 15px;
                font-size: 12px;
            }
            .menu{
                display: none;
            }
            nav {
                ul {
                    li {
                        a {
                            padding: 8px;
                            height: 50px;
                            i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
      header {
        height: 50px;
        .wrapper {
            width: 90%;
            line-height: 50px;
            .brand {
                font-size: 12px;
            }
            small {
                margin-left: 10px;
                font-size: 8px;
            }
            .menu{
                display: none;
            }
            nav {
                ul {
                    li {
                        a {
                            padding: 5px;
                            height: 50px;
                            i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
