.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.page {
    width: 1350px;
    box-sizing: border-box;
    margin: 0 auto;
//     word-break: break-all;
    .left {
        width: 73%;
        float: left;
        padding: 60px 30px;
        line-height: 1.6;
        font-size: 16px;
        border-radius: 10px;
//         background-color: #f8f8fda6;
        // 0 0 0 3330px  这样设置 可以使 整个文章加蒙层阴影
        box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.4),10px 10px 1000px rgba(10,10,0,0.1) inset;
        >h1 {
            margin-bottom: -10px;
        }
        a:not([title]){
            word-break: break-all;
        }
        ul {
            >h2 {
                margin-left: -40px;
                color: #6a6b6b;
            }
            li {
                line-height: 1.8;
                color: #888888;
                time {
                    display: inline-block;
                    width: 130px;
                }
                .title {
                    font-weight: bold;
                    color: #223253;
                    transition: 0.3s ease;
                    &:hover {
                        color: #4d6dad;
                    }
                }
                i {
                    margin-right: 5px;
                }
                .categories {
                    padding: 0 15px;
                    i {
//                         color: #9e9d9d;
                    }
                    a {
                        padding: 3px 5px;
                        background-color: #a2c4c9;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #14d8f5;
                        }
                    }
                }
                .pageTag {
                    i {
//                         color: #c6cbe9;
                    }
                    a {

                        // border: 1px solid #aaa;
                        padding: 3px 5px;
                        background-color: #9999FF;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #3c78d8;
                        }
                    }
                }
            }
        }
    }
    .anchor {
        display: none;
    }
    .right {
        float: left;
        width: 27%;
        padding-left: 20px;
        top: 0;
        .fixed {
            position: fixed;
            top: 20px;
        }
        .scroll-bottom {
            position: absolute;
            bottom: 190px;
        }
        .side {
            box-sizing: border-box;
            background-color: #f8f8fd;
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            margin-bottom: 20px;
            border-radius: 10px;
            -ms-word-break: break-all;
            word-break: break-all;
            /* Non standard for webkit */
            // word-break: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            >div {
                padding: 12px 15px;
                // margin-right: -10px;
                border-bottom: 1px solid #c0c0c0;
                font-size: 16px;
                font-weight: bold;
            }
            a {
                color: #4d6dad;
                transition: 0.5s ease;
                &:hover {
                    color: #223253;
                }
            }
        }
        .content-ul {
            overflow-y: auto;
            padding-right: 10px;
            line-height: 1.8;
            padding-left: 20px;
            ul {
                padding-left: 0px;
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .page {
        width: 90%;
        background-color: #f8f8fd;
        border-radius: 10px;

    }
}
@media screen and (max-width: 770px) {
    .page {
        width: 95%;
        background-color: #f8f8fd;
        border-radius: 10px;
        .left {
            width: 100%;
            float: left;
            padding: 10px 14px;
            font-size: 14px;
            >h1 {
                font-size: 25px;
                margin-bottom: -10px;
            }
            ul {
                padding-left: 20px;
                >h2 {
                    font-size: 20px;

                    // margin: 0;
                    margin-left: -20px;
                }
                li {
                    margin: 20px 0;
                    time {
                        display: block;
                        width: auto;
                    }
                    .title {
                        display: block;
                        font-size: 16px;
                    }
                    .categories {
                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
        .anchor {
            display: block;
            visibility: visible;
            position: fixed;
            top: 130px;
            right: 2.5%;
            padding: 5px 10px;
            color: #333;
            font-size: 15px;
            background-color: #f8f8fd;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            opacity: 0.7;
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .anchor-hide {
            opacity: 0;
            visibility: hidden;
        }
        .right {
            visibility: hidden;

            // display: none;
            position: fixed;

            // z-index: 190;
            float: none;
            width: auto;
            max-width: 95%;
            padding: 0;
            top: 130px;
            right: 2.5%;
            opacity: 0;
            transform-origin: 100% 0;
            transform: scale(0.1);
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .right-show {
            z-index: 999;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            .content-ul{
              margin-bottom: 0;
              >li:last-of-type{
                margin-bottom: 16px;
              }
            }
        }
    }
}
